* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
}

html {
    touch-action: manipulation;
}

body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 80, 80);
}

.entireContainer {
    width: 320px;
    height: 568px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entireContainer2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(
        180deg,
        rgb(231, 149, 50),
        rgb(215, 80, 80),
        rgb(140, 0, 150),
        rgb(26, 26, 26)
    );
}

header a h1 {
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    font-weight: 500;
    font-family: "Luckiest Guy", cursive;
    color: white;
}

main {
    padding: 30px 22px;
    background-color: rgb(26, 26, 26);
    height: 488px;
}

.container {
    width: 100%;
    justify-content: center;
    align-content: center;
    position: relative;
}

.calculator .display {
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    animation: from90 1s ease 0.2s 1 forwards;
}

.calculator .display span {
    display: block;
    text-align: right;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 60px;
    float: right;
    white-space: nowrap;
}

.calculator .display span:focus {
    outline: none;
}

.calculator .buttons {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 18% 18% 18% 18% 18%;
    grid-row-gap: 3%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.calculator .buttons button {
    border-radius: 100px;
    font-size: 32px;
    border: none;
    background-color: rgb(170, 170, 170);
    text-align: center;
    padding: 0;
    position: relative; /* to apply animation */
}

.calculator .buttons button.clearScreen {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.calculator .buttons button.zero {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.calculator .buttons button.bigger {
    font-size: 40px;
    padding-bottom: 27px;
}

.calculator .buttons button.astaDiv {
    position: relative;
}

.calculator .buttons button .asta {
    position: absolute;
    top: 0px;
    left: 15px;
    font-size: 60px;
}

.calculator .buttons button:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.calculator .buttons button:active {
    background-color: rgb(206, 206, 206);
}

.calculator .buttons button:focus {
    outline: none;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

.errorMessage {
    position: absolute;
    width: 100%;
    height: 28px;
    background: #ffbaba;
    top: -34px;
    left: 0;
    border-radius: 10px;
    border: 1px solid #ff3030;
    text-align: center;
    line-height: 26px;
    padding-right: 5px;
    color: #ec2c2c;
    opacity: 0;
}

.errorMessage--active {
    -webkit-animation: example 0.2s ease 0s 1 forwards;
    animation: appear-errorMessage 0.2s ease 0s 1 forwards;
}

@-webkit-keyframes appear-errorMessage {
    100% {
        opacity: 1;
    }
}

@keyframes appear-errorMessage {
    100% {
        opacity: 1;
    }
}

#clearScreen {
    opacity: 0;
    animation: from135 1.2s ease 0.2s 1 forwards;
}
#backSpace {
    opacity: 0;
    animation: from90 1.2s ease 0.2s 1 forwards;
}
#division {
    opacity: 0;
    animation: from45 1.2s ease 0.2s 1 forwards;
}
#seven {
    opacity: 0;
    animation: from135 1.2s ease 0.2s 1 forwards;
}
#eight {
    opacity: 0;
    animation: from90 1.2s ease 0.2s 1 forwards;
}
#nine {
    opacity: 0;
    animation: from45 1.2s ease 0.2s 1 forwards;
}
#multiplicacion {
    opacity: 0;
    animation: from30 1.2s ease 0.2s 1 forwards;
}
#four {
    opacity: 0;
    animation: from180 1.2s ease 0.2s 1 forwards;
}
#five {
    opacity: 0;
    animation: xxxx 1.2s ease 0.2s 1 forwards;
}
#six {
    opacity: 0;
    animation: from0 1.2s ease 0.2s 1 forwards;
}
#substraction {
    opacity: 0;
    animation: from0 1.2s ease 0.2s 1 forwards;
}
#one {
    opacity: 0;
    animation: from225 1.2s ease 0.2s 1 forwards;
}
#two {
    opacity: 0;
    animation: from270 1.2s ease 0.2s 1 forwards;
}
#three {
    opacity: 0;
    animation: from315 1.2s ease 0.2s 1 forwards;
}
#addition {
    opacity: 0;
    animation: from340 1.2s ease 0.2s 1 forwards;
}
#zero {
    opacity: 0;
    animation: from225 1.2s ease 0.2s 1 forwards;
}
#point {
    opacity: 0;
    animation: from315 1.2s ease 0.2s 1 forwards;
}
#equal {
    opacity: 0;
    animation: from315 1.2s ease 0.2s 1 forwards;
}

@keyframes from0 {
    0% {
        opacity: 0;
        left: 10px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes from30 {
    0% {
        opacity: 0;
        left: 10px;
        top: -8px;
    }
    100% {
        opacity: 1;
        left: 0;
        top: 0;
    }
}

@keyframes from45 {
    0% {
        opacity: 0;
        left: 10px;
        top: -10px;
    }
    100% {
        opacity: 1;
        left: 0;
        top: 0;
    }
}

@keyframes from90 {
    0% {
        opacity: 0;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes from135 {
    0% {
        opacity: 0;
        top: -10px;
        left: -10px;
    }
    100% {
        opacity: 1;
        top: 0;
        left: 0;
    }
}

@keyframes from180 {
    0% {
        opacity: 0;
        left: -10px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes from225 {
    0% {
        opacity: 0;
        left: -10px;
        top: 10px;
    }
    100% {
        opacity: 1;
        left: 0;
        top: 0;
    }
}

@keyframes from270 {
    0% {
        opacity: 0;
        top: 10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes from315 {
    0% {
        opacity: 0;
        left: 10px;
        top: 10px;
    }
    100% {
        opacity: 1;
        left: 0;
        top: 0;
    }
}

@keyframes from340 {
    0% {
        opacity: 0;
        left: 10px;
        top: 8px;
    }
    100% {
        opacity: 1;
        left: 0;
        top: 0;
    }
}

@keyframes xxxx {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
